
<div layout="row" layout-align="center center">
	<md-button ng-click="newFinish()" class="md-raised md-primary">
	Zieldurchgang hinzufügen</md-button>
	<span flex></span>
	<md-switch ng-model="data.isOffiziell" class="md-primary" md-no-ink
		aria-label="Switch 6" ng-change="toggleOfficially(data.isOffiziell)">
	offiziell </md-switch>
</div>

<div flex layout="row" style="position: relative;">
	<div id="grid1" ui-grid="gridOptions" external-scopes="clickHandler"
		class="grid" ui-grid-edit ui-grid-selection ui-grid-cellnav
		ui-grid-resize-columns ui-grid-move-columns ui-grid-exporter></div>
</div>

