<div layout="row" style="background-color: rgba(224, 224, 224, 0.96);" layout-align="center center">
	<h2 style="margin: 5px; color: rgb(8,123,0)">{{race.number}}. Wettfahrt - Ergebnisse</h2>
</div>

<div layout="row" layout-align="center center">
	<md-button href="#/regatta" class="groupX left"><< Regatten</md-button>
    <md-button ng-click="goRaces()" md-no-ink class="groupX middle md-primary">< Wettfahrten</md-button>
    <md-button ng-click="goFinish()" md-no-ink class="groupX right md-primary">Zieldurchgang ></md-button>
	<span flex></span>
    <md-switch ng-model="data.isOffiziell" class="md-primary" md-no-ink
		aria-label="Switch 6" ng-change="toggleOfficially(data.isOffiziell)">
	offiziell </md-switch>
</div>

<div flex layout="row" style="position: relative;">
    <div id="grid1" ui-grid="gridOptions" external-scopes="clickHandler"
         class="grid" ui-grid-edit ui-grid-selection ui-grid-cellnav
         ui-grid-resize-columns ui-grid-move-columns ui-grid-exporter></div>
</div>

