<div layout="row" style="background-color: rgba(224, 224, 224, 0.96);" layout-align="center center">
	<h2 style="margin: 5px; color: rgb(8,123,0)">Regatten</h2>
</div>


<div layout="row" layout-align="center center">
	<md-button ng-click="newRegatta()" class="md-raised md-primary" style="margin: 20px 0;">Regatta	hinzufügen</md-button>
</div>

<div flex layout="row" style="position: relative;">
	<div id="grid1" ui-grid="gridOptions" external-scopes="clickHandler"
		class="grid" ui-grid-edit ui-grid-selection ui-grid-cellnav
		ui-grid-resize-columns ui-grid-move-columns></div>
</div>

